
<ul>
  <li><a class="active" href="/admin">Home</a></li>
  <li><a href="/admin/create">Create Student</a></li>
  <li><a href="/admin/modify">Modify Student</a></li>
  <li><a href="/admin/grades">Grades</a></li>
  <li><a href="/admin/courses">Courses</a></li>
  <li>
    <div class = "right">
    <form action="/admin/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>
</ul>



<style>
  ul, input[type = submit] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a, input[type = submit] {
    display: block;
    color: white;
    text-align: center;
    width: max-content;
    padding: 14px 70.6px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .right{
    text-align: right;
  }
</style>
