<html>
  <head>
    <link rel="stylesheet" href="/styles/MainPage Style.css" />
    <title>Grades</title>
  </head>

  <body>
    <%- include('./includes/sidebar') %>
    <div class="divbody">
      <% if (grades.length > 0) { %>
        <table>
          <tr>
            <th>Course</th>
            <th>Course Coordinator</th>
            <th class="xyz">Grades</th>
          </tr>
          <% for(grade of grades) { %>
            <tr>
                <td><%= grade.coursename %></td>
                <td><%= grade.coursecoordinator %></td>
                <td><%= grade.grade %></td>
            </tr>
          <% } %>
        </table>
      <% } %>
    </div>
  </body>
</html>
