<html>

<head>
    <link rel="stylesheet" href="styles/Style.css">
    <title> </title>
</head>

<body>
    <h1>Welcome to the SVNIT Grade Management System!</h1>
        <div>
            Login
            <form action="/" method="post">
                <label for="username"><b>Username</b></label>
                <input id="username" type="text" placeholder="Enter Username" name="username" required>
    
                <label for="password"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="password" required>
                <input type="submit">
            </form>
            
            <br>
            <a href="/contact">Contact us</a>
            <a href="/admin">Admin</a>
        </div>
</body>
</html>