<html>
    <head>
        <link rel ="stylesheet" href ="/styles/MainPage Style.css">
        <title>Schedule</title>
    </head>

    <body>
        <%- include('./includes/sidebar') %> 
          <div class="divbody" id="scdimg">
              <img  src = "/images/Semester II Simplified Schedule.png">
          </div>
    
    </body>
</html>