<html>
    <head>
        <link rel ="stylesheet" href ="styles/MainPage Style.css">
        <title>Schedule</title>
    </head>

    <body>
        <h1>Welcome, Shashikant DANGI</h1>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a class="active" href="/schedule">Schedule</a></li>
          </ul>
          <div class="divbody" id="scdimg">
              <img  src = "images/Semester II Simplified Schedule.png">
          </div>
    
    </body>
</html>