<html>
      <head>
        <link rel="stylesheet" href="ProfilePage CSS.css">
      </head>
        <title>Profile Page</title>
    <body>
        <h1>Welcome, Shubham DWIVEDI</h1>
    <ul>
      <li><a class="active" href="shubham_ProfilePage.html">Profile</a></li>
      <li><a href="shubham_Grades.html">Grades</a></li>
      <li><a href="shubham_Schedule.html">Schedule</a></li>
    </ul>

    <div class="outer divbody">
      <div class="inner1" >
        <img id="profile" src="shubham.png" alt="">
      </div>
      <div class="inner2" >
        <p><strong>Shubham Dwivedi</strong></p>
        <p class = "branch">Electrical Engineering</p>
      </div>
    </div>
    <table>
      <tr>
        <th>Admission Number:</th>
        <td>U20EE084</td>
      </tr>
      <tr>
        <th>Father's Name:</th>
        <td>Mahesh Dwivedi</td>
      </tr>
      <tr>
        <th>Email Id: </th>
        <td>200315161849@eed.svnit.ac.in</td>
      </tr>
      <tr>
        <th>Mobile Number: </th>
        <td>7648925987</td>
      </tr>
    </table>
    </body>
</html>