<html>
    <head>
        <link rel ="stylesheet" href ="MainPage Style.css">
        <title>Schedule</title>
    </head>

    <body>
        <h1>Welcome, Yash SHAH</h1>
        <ul>
            <li><a href="Yash_ProfilePage.html">Profile</a></li>
            <li><a href="Yash_Grades.html">Grades</a></li>
            <li><a class="active" href="Yash_Schedule.html">Schedule</a></li>
          </ul>
          <div class="divbody" id="scdimg">
              <img  src = "Semester II Simplified Schedule.png">
          </div>
    
    </body>
</html>