@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

h1{
    color:#eded88;
    text-align: center;
    font-size: 45px;
    background-color: black;
    border-radius: 55px;
    margin:10px;
}
body{
    background-image: url(/images/bg.jpg);
    font-family:  'Nunito', sans-serif;
    margin: 0px;
}
div{
    font-size: 1.1rem;
    font-family: 'Noto Sans JP', sans-serif;
    height: 280px;
    width:400px;
    margin: auto;
    background-color: rgb(148, 150, 150);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-top: 70px;
}
input[type = text]{
    margin: 13px 5px 0px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
}
input[type = password]{
    margin: 18px 5px 3px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
}
#btn{
    font-size: 20px;
    margin-top: 15px;
}

.center {
    width: 60%;
    padding: 10px;
  }

button a{
    text-decoration: none;
}

#btn1{
    position: relative;
    left: 133px;
    top: 28px;
    border-bottom-right-radius: 20px;
    background-color: rgb(148, 150, 150);
    border: hidden;
}
  
h3{
    position: relative;
    top: 182px;
    font-size: 30px;
    display: inline;
    background-color: rgb(148, 150, 150);
    color: white;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    /* border-radius: 8px; */
    padding: 0px 178.5px;
}

#capimg{
    height: 12px;
}

#captcha{
    position: relative;
    top: 5px;
}
